%nav{class: 'navbar navbar-default'}
  .container-fluid
    .navbar-header
      %a{class: 'navbar-brand', href: '/'}= "8 Sections"
    %ul{class: 'nav navbar-nav'}
      %li
        %a{href: '/enrollment?districts=swampscott'}= "enrollment"
      %li
        %a{href: '/salaries?districts=swampscott'}= "salaries"
      %li
        %a{href: '/employees?districts=swampscott'}= "employees"
      %li
        %a{href: '/student-teacher-ratio?districts=swampscott'}= "s/t ratio"

