%html
  %head
    %title 8 Sections
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity: 'sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin: 'anonymous'}
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity: 'sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin: 'anonymous'}

    %link{rel: 'stylesheet', href: '/css/dashboard.css'}
    
    %link{rel: 'stylesheet', href: '//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css'}
    
    %script{src: '//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js'}
      
  %body
    
    %nav{class: 'navbar navbar-inverse navbar-fixed-top'}
      %div{class: 'container-fluid'}
        %div{class: 'navbar-header'}
          %a{class: 'navbar-brand', href: '/'}
            8 Sections
            
    %div{class: 'container-fluid'}
      %div{class: 'row'}
        
        %div{class: 'col-sm-3 col-md-2 sidebar'}
          %ul{class: 'nav nav-sidebar'} 
            %li
              %a{href: '/?districts=Salem&grades=K'}
                Salem
            %li
              %a{href: '/?districts=Swampscott&grades=K'}
                Swampscott
            %li
              %a{href: '/?districts=Lynn&grades=K'}
                Lynn 
            %li
              %a{href: '/?districts=Lynnfield&grades=K'}
                Lynnfield
            %li
              %a{href: '/?districts=Marblehead&grades=K'}
                Marblehead
                
        %div{class: 'col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main'}
          %h2{class: 'page-header'}= "#{@districts.collect{|d| d.name}.join(", ")} enrollment for grades #{@grades.collect{|g| g.name}.join(", ")}"

          %div{class: 'ct-chart ct-golden-section', id: 'chart1'}
            %script
              new Chartist.Line('#chart1', {
              labels: [#{@years.collect{|y| y.year}.join(",")}],
              lineTension: 0,
              series: [
              - @series.each do |series|
                = "[#{series.collect{|s| s[0]}.join(',')}],"
              ]
              }, {
              axisY: {
              high: #{@high},
              low: 0
              }});

          %h3{class: 'sub-header'}
            Raw Data

          %div{class: 'table-responsive'}   
            %table{class: 'table table-striped'}   
              %thead
                %th
                - @years.each do |year|
                  %th
                    #{year}

              %tbody
                - @series.each do |series|
                  %tr
                    %td= "BLARG"
                    - series.each do |s|
                      %td= s[0]
                        
          %h3{class: 'sub-header'}
            Source

          %a{href: 'http://www.doe.mass.edu/infoservices/reports/enroll/'}
            Mass DESE Enrollment Data

          %h3{class: 'sub-header'}
            Query
          
          %div
            %form{method: 'GET', action: '/'}
              %ul
                %li
                  %label{for: 'district'}
                    District
                    %select{name: 'district'}
                      - @all_districts.each do |district|
                        %option
                          = district.name
                      
                %li
                  %label{for: 'grade'}
                    Grade
                    %select{name: 'grade'}
                      - @all_grades.each do |grade|
                        %option
                          = grade.name

                %li
                  %input{type: 'submit'}
                  
                   
          %h3{class: 'sub-header'}
            Author

          %div
            Terry Lorber<br/>
            Swampscott, MA<br/> 
            %em tgl (at) rideside (dot) net<br/>
            <br/>            
            2018-04-05

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116554956-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116554956-1');
    </script>
