%html
  %head
    %title 8 Sections
    %link{rel: 'stylesheet', href: '//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css'}
    %script{src: '//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js'}
      
  %body
    %div
      %h1 8 Sections
    %hr
    %div
      %h2 #{@district.name} #{@grade.name} Enrollment

    %div
      

    %div{class: 'ct-chart ct-golden-section', id: 'chart1'}
    %script
      new Chartist.Line('#chart1', {
      labels: #{@years}},
      series: [[
      - @rows.each do |row|
        #{row.enrollment},
      ]]
      }, {
      axisY: {
      high: 200,
      low: 0
      }});
    %div
      %div
        Raw Data
      %div
        %table{border: 1}
          %thead
            %tr
              %th
                Year
              - @years.each do |year|
                %th
                  #{year}
          %tbody
            %tr
              %td
                ENR
              - @rows.each do |row|
                %td
                  #{row.enrollment}
    %div
      Source <a href="http://www.doe.mass.edu/infoservices/reports/enroll/">Mass DESE Enrollment Data</a>

    %hr
    %div
      Terry Lorber<br/>
      2018-03-06<br/>
      %em tgl (at) rideside (dot) net
